<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.smorand.update-youtube-cookies</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/sebastien/Documents/Projects/youtube-manager/bin/update-cookies-darwin-arm64</string>
        <string>--host</string>
        <string>31.97.54.67</string>
        <string>--user</string>
        <string>root</string>
        <string>--key</string>
        <string>/Users/sebastien/.ssh/id_rsa</string>
        <string>--remote-path</string>
        <string>/app/data/youtube-manager</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/update-cookies-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/update-cookies-launchd.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
